.flyicon-list{
    list-style: none;
    margin: 0 auto;
}

.flyicon-item{
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 110px;
    height: 110px;
}

.flyicon{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 90px;
    height: 90px;
}

.icon{
    position: absolute;
    top: 50%;
    left: 50%;
    /*transition:transform .5s;*/
}

.icon:hover{
    cursor: pointer;
    /*transform: scale(2,2);*/
}

.icon-desc{
    position: absolute;
    font-size: 14px;
}

/*关闭*/
.icon-close:before,.icon-close:after{
    position: absolute;
    top: -2px;
    left: -15px;
    content: '';
    width: 30px;
    height: 5px;
    background: #333;
}

.icon-close:before{
    transform: rotateZ(45deg);
}

.icon-close:after{
    transform: rotateZ(-45deg);
}

/*三角系列*/
.triangle{
    width: 0;
    height: 0;
    border: 15px solid transparent;
}

/*上三角*/
.icon-upper-triangle{
    transform: translate(-30px,-22px);
    border-bottom: 15px solid #333;
}

/*右三角*/
.icon-right-triangle{
    transform: translate(-22px,-15px);
    border-left: 15px solid #333;
}

/*下三角*/
.icon-lower-triangle{
    transform: translate(-30px,-7px);
    border-top: 15px solid #333;
}

/*左三角*/
.icon-left-triangle{
    transform: translate(-40px,-7px);
    border-right: 15px solid #333;
}

/*箭头系类*/
.arrow{
    left: 20px;
}

.arrow:before,.arrow:after{
    position: absolute;
    content: '';
    width: 20px;
    height: 3px;
    background: #333;
}

/*上箭头*/
.icon-upper-arrow:before{
    left: -12px;
    transform: rotateZ(-45deg);
}
.icon-upper-arrow:after{
    transform: rotateZ(45deg);
}

/*右箭头*/
.icon-right-arrow:before{
    transform: rotateZ(45deg);
}
.icon-right-arrow:after{
    top: 12px;
    transform: rotateZ(-45deg);
}

/*下箭头*/
.icon-lower-arrow:before{
    left: -12px;
    transform: rotateZ(45deg);
}
.icon-lower-arrow:after{
    transform: rotateZ(-45deg);
}

/*左箭头*/
.icon-left-arrow:before{
    transform: rotateZ(-45deg);
}
.icon-left-arrow:after{
    top: 12px;
    transform: rotateZ(45deg);
}

/*排序*/
.order{
    left: 20px;
    height: 30px;
    width: 5px;
    background: #333;
}

.order-up:before{
    position: absolute;
    top: -20px;
    left: -7.3px;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid #333;
}

.order-down{
    top: 35px;
}

.order-down:after{
    position: absolute;
    top: 30px;
    left: -7.3px;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid #333;
}

/*更多*/
.more{
    left: 20px;
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 50%;
}

.more:before,.more:after{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 50%;
}

.more:before{
    left: -15px;
}

.more:after{
    left: 15px;
}

/*列表*/
.list{
    left: 20px;
}

.list span{
    display: block;
    width: 35px;
    height: 5px;
    background: #333;
    margin-top: 10px;
}

.list:before{
    position: absolute;
    left: 5px;
    content: '';
    width: 5px;
    height: 35px;
    background: white;
}

/*缩略图*/
.thumbnail{
    left: 20px;
    width: 45px;
    height: 45px;
    background: #333;
}

.thumbnail:before{
    position: absolute;
    top: 20px;
    content: '';
    width: 45px;
    height: 5px;
    background: white;
}

.thumbnail:after{
    position: absolute;
    left: 20px;
    content: '';
    width: 5px;
    height: 45px;
    background: white;
    transform: rotateZ(-180deg);
}

/*上传，下载*/
.download,.upload{
    left: 20px;
    top: 85px;
}

.download span,.upload span{
    display: block;
}

.download span:first-child,.upload span:first-child{
    width: 45px;
    height: 0;
    border-bottom: 5px solid #333;
}

.download span:first-child:before, .download span:first-child:after,
.upload span:first-child:before, .upload span:first-child:after{
    position: absolute;
    content: '';
    width: 5px;
    height: 12px;
    background: #333;
}

.download span:first-child:before,.upload span:first-child:before{
    top: -12px;
}

.download span:first-child:after,.upload span:first-child:after{
    top: -12px;
    left: 40px;
}

.download span:last-child,.upload span:last-child{
    position: absolute;
    top: -35px;
    left: 20px;
    width: 6px;
    height: 30px;
    background: #333;
}

.download span:last-child:before,.download span:last-child:after,
.upload span:last-child:before,.upload span:last-child:after{
    position: absolute;
    content: '';
    width: 5px;
    height: 20px;
    background: #333;
}

.download span:last-child:before{
    top: 13px;
    left: -6px;
    transform: rotateZ(-45deg);
}

.download span:last-child:after{
    top: 13px;
    left: 6px;
    transform: rotateZ(45deg);
}

.upload span:last-child:before,.upload span:last-child:after{
    top: -3px;
}

.upload span:last-child:before{
    left: -6px;
    transform: rotateZ(45deg);
}

.upload span:last-child:after{
    left: 6px;
    transform: rotateZ(-45deg);
}

/*分享*/
.share{
    top: 60px;
    left: 20px;
    width: 25px;
    height: 5px;
    transform: rotateZ(-45deg);
    background: #333;
}

.share:before,.share:after{
    position: absolute;
    top: -8px;
    content: '';
    width: 12px;
    height: 12px;
    border: 5px solid #333;
    transform: rotateZ(-90deg);
}

.share:before{
    left: 15px;
}

.share:after{
    left: -12px;
}

/*删除*/
.delete{
    left: 20px;
}

.delete span:first-child{
    display: block;
    width: 30px;
    height: 30px;
    border: 3px solid #333;
}

.delete span:first-child:before,.delete span:first-child:after{
    position: absolute;
    top: 0px;
    content: '';
    width: 3px;
    height: 30px;
    background: #333;
}

.delete span:first-child:before{
    left: 9px;
}

.delete span:first-child:after{
    left: 18px;
}

.delete span:last-child{
    position: absolute;
    top: -6px;
    width: 30px;
    height: 3px;
    background: #333;
}

.delete span:last-child:before{
    position: absolute;
    top: -1px;
    left: 7px;
    content: '';
    width: 15px;
    height: 3px;
    background: #333;
}

/*转移*/
.transfer{
    left: 20px;
}

.transfer span{
    position: relative;
    display: block;
    width: 25px;
    height: 5px;
    background: #333;
}

.transfer span:first-child{
    top: -5px;
    left: 5px;
}

.transfer span:first-child:before,.transfer span:first-child:after,
.transfer span:last-child:before,.transfer span:last-child:after{
    position: absolute;
    content: '';
    width: 15px;
    height: 5px;
    background: #333;
}

.transfer span:first-child:before{
    transform: rotateZ(35deg);
    top: -3px;
    left: 11px;
}

.transfer span:first-child:after{
    transform: rotateZ(-35deg);
    top: 3px;
    left: 11px;
}

.transfer span:last-child{
    top: 10px;
}

.transfer span:last-child:before{
    transform: rotateZ(-35deg);
    top: -3px;
    left: -3px;
}

.transfer span:last-child:after{
    transform: rotateZ(35deg);
    top: 3px;
    left: -3px;
}

/*重命名*/
.rename{
    top: 35px;
    left: 20px;
    width: 38px;
    height: 42px;
    border: 4px solid #333;
}

.rename span:first-child{
    position: absolute;
    z-index:222;
    top: 15px;
    width: 32px;
    height: 4px;
    background: #333;
    transform: rotateZ(-48deg);
}

.rename span:first-child:before{
    position: absolute;
    z-index: 22;
    top: -1px;
    left: 37px;
    content: '';
    width: 5px;
    height: 5px;
    background: #333;
    transform: rotateZ(48deg);
}

.rename span:last-child{
    position: absolute;
    top: -10px;
    left: 10px;
    z-index: 11;
    content: '';
    width: 25px;
    height: 30px;
    background: #fff;
}

/*新建文件*/
.new-folder{
    top: 35px;
    left: 20px;
    width: 38px;
    height: 42px;
    border: 4px solid #333;
}

.new-folder span{
    position: absolute;
    top: 7px;
    left: 15px;
    z-index: 22;
    width: 35px;
    height: 40px;
    background: #fff;
}

.new-folder span:before, .new-folder span:after{
    position: absolute;
    content: '';
    background: #333;
}

.new-folder span:before{
    top: 15px;
    left: 3px;
    width: 15px;
    height: 5px;
}

.new-folder span:after{
    top: 10px;
    left: 8px;
    width: 5px;
    height: 15px;
    transform: rotateZ(180deg);
}

/*气泡*/
.bubble{
    left: 25px;
    top: 30px;
    width: 50px;
    height: 50px;
    border-radius: 30px 30px 0;
    background: #333;
}

/*圆形*/
.circle{
    left: 25px;
    top: 30px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #333;
}

/*扇形*/
.fanshaped{
    left: 25px;
    width: 50px;
    height: 25px;
    border-radius: 25px 25px 0 0;
    background: #333;
}

/*树叶*/
.leaf{
    left: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50px 0;
    background: #333;
}

/*人眼*/
.eye{
    left: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50px 0;
    transform: rotateZ(45deg);
    background: #333;
}

.eye:before,.eye:after{
    position: absolute;
    content: '';
    border-radius: 50%;
}

.eye:before{
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    background: #fff;
}

.eye:after{
    top: 20px;
    left: 20px;
    width: 10px;
    height: 10px;
    background: #333;
}

/*嘴唇*/
.lip {
    width: 50px;
    height: 50px;
    border-radius: 50px 0;
    transform: rotateZ(45deg);
    background: #fff;
    border:8px solid #333;
}

/*start:皮卡丘手机壳*/
.pikachu-flyicon-item-1{
    width: 330px;
}

.pikachu-icon-desc{
    position: absolute;
    top: 10px;
    font-size: 14px;
}

.pikachu-flyicon-1{
    top: 65px;
    left: 215px;
    width: 226px;
    background: yellow;
}

.pickchu-eye-1, .pikachu-face-1{
    position: relative;
    height: 42px;
}

.pikachu-left-eye-1,.pikachu-right-eye-1{
    position: absolute;
    top: 5px;
    width: 30px;
    height: 30px;
    background: #333;
    border-radius: 13px/15px;
}

.pikachu-left-eye-1{
    left: 60px;
    transform: rotateZ(15deg);
}

.pikachu-right-eye-1{
    right: 60px;
    transform: rotateZ(-15deg);
}

.pikachu-left-eye-1:before,.pikachu-right-eye-1:before{
    position: absolute;
    content: '';
    top: 2px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
}

.pikachu-left-eye-1:before{
    left: 8px;
}

.pikachu-right-eye-1:before{
    left: 6px;
}

.pikachu-left-face-1,.pikachu-right-face-1{
    position: absolute;
    top: 5px;
    width: 34px;
    height: 34px;
    background: pink;
    border-radius: 17px;
}

.pikachu-left-face-1{
    left: 40px;
}

.pikachu-right-face-1{
    right: 40px;
}

.pikachu-mouth-1{
    position: absolute;
    top: 35px;
    left: 85px;
    z-index: 2;
    width: 58px;
    height: 44px;
}

.pikachu-left-mouth-1{
    position: absolute;
    top: 5px;
    left: 13px;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #333;
    border-right: 5px solid #333;
    transform: rotateZ(45deg);
    border-radius: 30px 0;
}

.pikachu-left-mouth-1:before{
    position: absolute;
    left: 2px;
    top: 5px;
    content: '';
    width: 10px;
    height: 5px;
    border-radius: 50%;
    background: #333;
    transform: rotateZ(-45deg);
}

/*end:皮卡丘手机壳*/

/*放大缩小*/
.zoom-in,.zoom-out{
    top: 70px;
    left: 17px;
    width: 25px;
    height: 5px;
    background: #333;
    border-radius: 3px 0 0 3px;
    transform: rotateZ(-45deg);
}

.zoom-circle{
    top: 40px;
    left: 30px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 4px solid #333;
}

.zoom-circle:after,.zoom-in + .zoom-circle:before{
    position: absolute;
    top: 8px;
    left: 6px;
    content: '';
    width: 10px;
    height: 4px;
    background: #333;
}

.zoom-in + .zoom-circle:before{
    transform: rotateZ(-90deg);
}

/*禁用*/
.forbidden{
    left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 4px solid #333;
}

.forbidden:before{
    position: absolute;
    top: 10px;
    left: -1px;
    content: '';
    width: 25px;
    height: 4px;
    background: #333;
    transform: rotateZ(45deg);
}
